
.carousel-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.about{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #00b98e;
}

.msg{
    font-family: cursive;
}

.welcome-title{
    margin: 160px auto;
}

.home-title-1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:50px
}

.home-title-2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 100px;
}

